Repository LimTurtle/GA_Saronite, pull requests merged in 2023-07, with the labels that each got.

#6 SVD를 사용한 음악 추천 모델 구축
  src/Test_Model_Turtle/Test_Model_Turtle.ipynb
Labels: model

#11 음악 추천 개념 정리
  src/Test_Model_Gaeul/.gitignore
  src/Test_Model_Gaeul/README.md
  src/Test_Model_Gaeul/Test_Model_Gaeul.ipynb
Labels: study

#13 readme 간단 작성
  src/Test_Model_Kim/README.md
Labels: documentation

#20 Outlier Preprocessing 및 KNN 모델 수정
  docs/2023전기_착수보고서_21_사로나이트_음악 데이터 전처리 효율성 연구.docx
  docs/2023전기착수보고서_21_사로나이트_음악데이터전처리효율성연구.pdf
  src/Test_Model_Turtle/KNN_Model.ipynb
Labels: model, study

#21 데이터 불균형 문제 처리
  src/Test_Model_Kim/Model_preprocessing_on.ipynb
Labels: model, study

#23 데이터 전처리 방법 설계(Drop / Replace / Normalization)
  src/Test_Model_Gaeul/01_Data_Lookup_Gaeul.ipynb
  src/Test_Model_Gaeul/02_Preprocess_Gaeul.ipynb
Labels: model, study

#28 word2vec, 코사인 유사도를 이용한 모델
  src/Test_Model_Kim/New_Model.ipynb
Labels: model, study

#32 Word Embedding Recommendation System Init
  src/Test_Model_Turtle/1. SVD Model Init.ipynb
  src/Test_Model_Turtle/2. KNN Model Init.ipynb
  src/Test_Model_Turtle/3. Autoencoder Model Init.ipynb
  src/Test_Model_Turtle/4. Word Embedding Preprocessing.ipynb
  src/Test_Model_Turtle/Model_Study.ipynb
Labels: model, study

#34 word2vec, 코사인 유사도를 이용한 모델
  src/Test_Model_Kim/01.Model.ipynb
  src/Test_Model_Kim/02.Model_preprocessing_on.ipynb
  src/Test_Model_Kim/03.New_Model.ipynb
  src/Test_Model_Kim/New_Model.ipynb
Labels: model, study

#38 Recommandation System by Kim 버그 수정
  src/Test_Model_Turtle/5. Recommand_System.ipynb
Labels: bug, model

#42 RecSys의 대표적인 성능 지표 구현 시도(오류 있음)
  src/Test_Model_Gaeul/03_Recommend System_Gaeul.ipynb
  src/Test_Model_Gaeul/03_Recommend System_Preview_Gaeul.ipynb
  src/Test_Model_Gaeul/04_Recommend_System_Evaluation(feat. Kim).ipynb
Labels: help wanted, model, study

#47 추천 모델 디버깅
  src/Recommend_Model/Recommend_Model.ipynb
Labels: bug, model

#49 추천 모델 설명 추가
  src/Recommend_Model/Recommend_Model.ipynb
Labels: documentation

#53 추천 모델 수정
  src/Recommend_Model/Recommend_Model.ipynb
Labels: bug
