Repository LimTurtle/GA_Saronite, pull requests merged in 2023-08, with the labels that each got.

#56 모델 버그 수정 및 평가 지표 테스트
  docs/2023중간보고서_21_사로나이트_음악 데이터 전처리 효율성 연구.pdf
  src/Recommend_Model/Recommend_Model.ipynb
Labels: bug, model, study

#61 모델 모듈화 및 자카드 유사도
  src/Test_Model_Kim/04.Modularized_Model.ipynb
Labels: model, study

#63 AP@K 평가 지표 구현
  src/Recommend_Model/Recommend_Model.ipynb
Labels: model, study

#65 MAP@K 를 위한 예측 데이터 생성 및 테스트
  src/Recommend_Model/Recommend_Model.ipynb
Labels: bug, model, study

#69 태그를 우선으로 한 장르 유사도 측정 테스트
  src/Recommend_Model/Recommend_Model.ipynb
Labels: bug, model, study

#71 유사도 함수 작성 및 모델 코드 일부 변경
  src/Test_Model_Kim/04.Modularized_Model.ipynb
Labels: model

#73 동일 태그 내에서의 장르 유사도 측정 및 성능 테스트
  src/Recommend_Model/Recommend_Model.ipynb
Labels: model

#76 태그 데이터 텍스트 전처리 함수 생성
  src/Test_Model_Kim/04.Modularized_Model.ipynb
  src/Test_Model_Kim/05.Preprocess_Data.ipynb
Labels: model

#78 장르 유사도가 높은 음악 중 태그 유사도로 음악 추천 테스트
  src/Recommend_Model/Recommend_Model.ipynb
Labels: model

#80 랜덤 추출된 훈련 데이터에 대한 nDCG 평가 적용(에러 있음)
  src/Test_Model_Gaeul/06_Evaluation_nDCG.ipynb
Labels: bug, model

#82 nDCG 함수 모듈화
  src/Recommend_Model/Recommend_Model.ipynb
Labels: model

#84 코드 통합
  src/Recommend_Model/Recommend_Model.ipynb
  src/Test_Model_Kim/05.Preprocess_Data.ipynb
Labels: model

#86 태그 불균형 데이터 처리
  src/Recommend_Model/Recommend_Model.ipynb
Labels: model

#90 장르 불균형 데이터 처리
  src/Recommend_Model/Recommend_Model.ipynb
Labels: model

#92 장르 불균형 처리에 대한 로그 스케일링
  src/Recommend_Model/Recommend_Model.ipynb
Labels: model

#94 임베딩 방법 추가
  src/Recommend_Model/Recommend_Model.ipynb
Labels: model

#96 영어 자연어 전처리 후 모델 평가
  src/Datasets/train_eng1.json
  src/Recommend_Model/Recommend_Model.ipynb
Labels: model

#105 tf-idf 방법 추가 및 평가
  src/Recommend_Model/Recommend_Model.ipynb
Labels: model

#109 태그 유사도 측정 방식 변경 및 테스트
  src/Recommend_Model/Recommend_Model.ipynb
Labels: model

#111 nDCG 로직 수정 및 가중치 구간 재설정
  src/Recommend_Model/Recommend_Model.ipynb
Labels: model

#113 새로운 추천 모델
  src/Recommend_Model/Like_Count_for_Songs.ipynb
  src/Recommend_Model/Recommend_Model.ipynb
Labels: model

#115 다양한 알고리즘 별 모델 코드 작성
  src/Recommend_Model/Recommend_Model.ipynb
Labels: model

#117 nDCG 평가 지표 모델 전체 적용 및 가중치 반영 구현
  src/Recommend_Model/Recommend_Model.ipynb
Labels: model

#120 태그 가중치 부여
  src/Datasets/genre_gn_all.json
  src/Datasets/plylst_sample.json
  src/Datasets/song_meta.json
  src/Datasets/test.json
  src/Datasets/val.json
  src/Recommend_Model/Recommend_Model.ipynb
Labels: model

#122 자카드, 피어슨 유사도 패키지화
  src/Recommend_Model/Recommend_Model.ipynb
Labels: model

#124 태그 전처리 제외 버전
  src/Recommend_Model/Recommend_Model.ipynb
Labels: model
